/*class colors*/
$classes: (
                ("deathknight", #C41E3A),
                ("druid", #FF7C0A),
                ("hunter", #AAD372),
                ("mage", #3FC7EB),
                ("paladin", #F48CBA),
                ("priest", #FFFFFF),
                ("rogue", #FFF468),
                ("shaman", #0070DD),
                ("warlock", #8788EE),
                ("warrior", #C69B6D),
                ("monk", #00FF98),
                ("demonhunter", #A330C9),
                ("evoker", #33937F),
) !default;

$baseFontSize: .9em !default;
$spacing: 5px !default;
$iconSpritePath: "../img/class-sprite-36.jpg" !default;
$iconSize: 36px !default;
$iconBorderRadius: 4px !default;
$borderColor: #dddddd !default;
$iconBorderColor: #aaa !default;
$iconShadowInset: #ddd !default;
$iconShadow: #000 !default;
$iconBoxShadow: 0 0 3px $iconShadow, inset 0 0 5px $iconShadowInset !default;
$iconBorder: 1px solid $iconBorderColor !default;